.audio
  margin: 30px 0
  &__controls
    display: flex
    align-items: center
    width: auto
  &__btn
    display: inline-block
    align-items: center
    margin-right: 10px
    font-size: 40px
    +accent-hover
  &__volume
    display: flex
    align-items: center
    &-btn
      margin-right: 10px
      width: 20px
      font-size: 20px
      +accent-hover
  &__slider
    -webkit-appearance: none
    height: 5px
    width: 100%
    background-color: rgba($color-text, .07)
    border-radius: 5px
    outline: none
    &::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      width: 12px
      height: 12px
      border-radius: 50%
      +accent-bg-hover
    &::-moz-range-thumb
      cursor: pointer
      border-radius: 50%
      border: 0
      +accent-bg-hover

.is-night
  .audio
    &__slider
      background-color: rgba($color-text-night, .07)
      &::-webkit-slider-thumb
        +accent-bg-hover-night-override
      &::-moz-range-thumb
        +accent-bg-hover-night-override

@media only screen and (min-width: 768px)
  .audio
    &__btn
      font-size: 50px
      margin-right: 20px
    &__volume
      &-btn
        width: 24px
        font-size: 24px

