// fonts
$decorate-font: 'Montserrat', sans-serif
$primary-font: 'Source Sans Pro', sans-serif

// colors
$color-text: #170F0F
$color-bg: #ffffff
$color-text-night: #ffffff
$color-accent: #fa3e2e

// transitions
$transition: all .2s linear
